#morning-darkness, #evening-darkness {
    background-color: black;
}

#morning-darkness, #daylight, #evening-darkness {
    float: left;
    height: 100%;
}

#morning-darkness {
    width: {{ morning_darkness }}%;
}

#daylight {
    width: {{ daylight }}%;
}

#evening-darkness {
    width: {{ evening_darkness }}%;
    color: grey;
}

#evening-darkness p {
    width: {{ evening_darkness }}%;
}

#description {
    position: fixed;
    bottom: 3em;
    right: 1em;
    text-align: right;
}

#byline {
    position: fixed;
    bottom: 1em;
    right: 1em;
    text-align: right;
}

#byline a:link, #byline a:visited {
    color: grey;
    text-decoration: none;
}

body {
    margin: 0 0 0 0;
}